html { overflow-y: hidden; }

body { font-family: 'Rajdhani', sans-serif; }

.level { margin-top:20px; }

.is-uppercase {
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:700;
}

.is-round {
	border-radius:50%;
}

li {
	line-height:1.5em;
}

.is-128x128 {
  height: 128px;
  width: 128px;
}